@model ITWEBExercise5.Models.ComponentType

@{
    ViewData["Title"] = "Create";
}

<style>
    .selectSection {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
</style>

<h2>Create</h2>

<h4>ComponentType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="submitForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ComponentName" class="control-label"></label>
                <input asp-for="ComponentName" class="form-control" />
                <span asp-validation-for="ComponentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentInfo" class="control-label"></label>
                <input asp-for="ComponentInfo" class="form-control" />
                <span asp-validation-for="ComponentInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datasheet" class="control-label"></label>
                <input asp-for="Datasheet" class="form-control" />
                <span asp-validation-for="Datasheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WikiLink" class="control-label"></label>
                <input asp-for="WikiLink" class="form-control" />
                <span asp-validation-for="WikiLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminComment" class="control-label"></label>
                <input asp-for="AdminComment" class="form-control" />
                <span asp-validation-for="AdminComment" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align: center">
                <section class="container row">
                    <div class="col-md-2">
                        <label class="control-label selectSection">Valgte Kategorier</label>
                        <select class="form-control selectSection" style="width: 100px" id="leftValues" name="leftValues" size="5" multiple></select>
                    </div>
                    <div class="col-md-1">
                        <input style="margin-top: 40px" class="form-control selectSection" type="button" id="btnLeft" value="&lt;&lt;" />
                        <input class="form-control selectSection" type="button" id="btnRight" value="&gt;&gt;" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label selectSection"> Mulige Kategoier</label>
                        <select class="form-control selectSection" style="width: 100px" id="rightValues" name="rightValues" size="5" multiple asp-items="@(new SelectList(@ViewBag.AllCategories, "CategoryId", "Name"));"></select>
                    </div>
                </section>
            </div>
            <div class="form-group" style="text-align: center">
                <section class="container row">
                    <div class="col-md-2">
                        <label class="control-label selectSection">Valgte Komponenter</label>
                        <select class="form-control selectSection" style="width: 100px" id="leftComponents" name="leftComponents" size="5" multiple></select>
                    </div>
                    <div class="col-md-1">
                        <input style="margin-top: 40px" class="form-control selectSection" type="button" id="btnLeftComponent" value="&lt;&lt;" />
                        <input class="form-control selectSection" type="button" id="btnRightComponent" value="&gt;&gt;" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label selectSection"> Mulige Komponenter</label>
                        <select class="form-control selectSection" style="width: 100px" id="rightComponents" name="rightComponents" size="5" multiple asp-items="@(new SelectList(@ViewBag.AllComponents, "ComponentId", "ComponentNumber"));"></select>
                    </div>
                </section>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $("#btnLeft").click(function() {
        var selectedItem = $("#rightValues option:selected");

        $("#leftValues").append(selectedItem);
    });

    $("#btnRight").click(function () {
        var selectedItem = $("#leftValues option:selected");
        $("#rightValues").append(selectedItem);
    });

    $("#btnLeftComponent").click(function () {
        var selectedItem = $("#rightComponents option:selected");

        $("#leftComponents").append(selectedItem);
    });

    $("#btnRightComponent").click(function () {
        var selectedItem = $("#leftComponents option:selected");
        $("#rightComponents").append(selectedItem);
    });

    $("#submitForm").submit(function (eventObj) {
        var categoryArr = [];
        var componentArray = [];
        $("#leftValues option").each(function () {
            categoryArr.push($(this).val());
        });

        $("#leftComponents option").each(function () {
            componentArray.push($(this).val());
        });

        $('<input />').attr('type', 'hidden')
            .attr('name', "categories")
            .attr('value', categoryArr)
            .appendTo('#submitForm');

        $('<input />').attr('type', 'hidden')
            .attr('name', "components")
            .attr('value', componentArray)
            .appendTo('#submitForm');
        return true;
    });

</script>

