@model Category
@{
    ViewData["Title"] = "EditView";
}

<h2>EditView</h2>

<select asp-items="@(new SelectList(ViewBag.AllCategories))" onchange="alert(this.value)">
</select>

@await Component.InvokeAsync("CreateType", @ViewBag.Selected)


